.risk {
    opacity: .0;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    position: relative;
    top: -75px;

    .column {
        border: 1px solid rgba(128, 128, 128, 0.1490196078);
        border-radius: 20px;
        padding: 18px 40px;
    }

    .column img {
        width: 80%;
        height: auto;

    }

    .mFlex {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .mFlex .icon {
        width: 16px;
    }
}