.layout {
    display: grid;
    grid-template-columns: 300px 1fr; 
    grid-gap: 1rem; 
    height: 100vh; 
    overflow-y: hidden;

   
  
    .main-content {
      padding: 1rem; 
      background-color: #fff; 
      overflow: auto; 
      border-left: 1px solid #80808026;
      padding: 0px 40px;
    }
  }
  
  // Responsive design adjustments
  @media (max-width: 768px) {
    .layout {
      grid-template-columns: 1fr; 
      
      .sidebar {
        // Adjust sidebar styles for mobile 
      }
    }
  }
  